:root {
    --primary-color: #003366;
    --secondary-color: #006666;
    --tertiary-color: #005ab4;
    --highlight-color: 	#ff6666;
    --primary-font-family: Georgia, serif;
    --secondary-font-family: 'Arial Narrow', sans-serif;
    --tertiary-font-family: 'Arial Light', sans-serif;
    --decorative-font-family: "Caveat", cursive;
    --primary-padding: 48px;
    --secondary-padding: 24px;
    --section-gap: 72px;
}

body {
    position: relative;
    background-color: #f8f8f8;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 var(--secondary-padding);
    box-sizing: border-box;
    color: var(--primary-color);
}

h1, h2, h3, a {
    font-family: var(--primary-font-family);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3, a {
    font-size: 20px;
}

p, li {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    padding-bottom: 0.4em;
}

ol {
    list-style: decimal;
    list-style-position: inside;
    padding: var(--secondary-padding);
}

i {
    color: var(--primary-color);
    padding: 0;
}

img {
    object-fit: cover;
    max-width: 100%;
}

#header {
    display: block;
    position: sticky;
    top: -2px;
    background-color: rgb(248, 248, 248, 0.9);
    width: 100vw;
    margin-left: -24px;
    padding-bottom: 4px;
}

#topnav {
    padding: 10px 24px 0;
}

#topnav p {
    font-size: 12px;
}

#topnav * {
    padding: 0;
}

.contact {
    padding: 0 24px;
}

.contact a {
    font-size: 18px;    
}

footer {
    width: 100vw;
    margin-left: -24px;
    padding-bottom: 8px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

footer p {
    padding: 0;
}

footer a {
    position: fixed;
    bottom: 8px;
    right: 10px;
}

main {
    padding-top: var(--primary-padding);
    padding-bottom: 40px;
    margin: 0 auto;
}

.main-head {
    text-align: center;
}

hr {
    width: 50%;
    margin: 30px auto;
    border: none;
    height: 1px;
    background-color: var(--primary-color);
}

.project-brief {
    padding: var(--secondary-padding) 0;
}

.date {
    min-width: 90px;
    font-size: 12px;
}

.project-summary {
    padding: 14px 0 21px;
}

.project-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-tag {
    display: flex;
    gap: 12px;
}

.tag {
    font-family: var(--decorative-font-family);
    font-size: 12px;
    color: var(--secondary-color);
    background-color: #ffffff;
    padding: 4px 6px;
}

.more :hover {
    color: var(--highlight-color);
}

.more p {
    padding: 0;
}

/* showcase section styling starts */
.showcase {
    display: none;
}

#back-home {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

#back-home p {
    padding: 0 0 0 4px;
    font-size: 1.2em;
}

#back-home :hover {
    color: var(--highlight-color);
}

.overview {
    padding-top: var(--primary-padding);
    display: flex;
    flex-direction: column;
}

.overview li {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 1em;
}

.overview li :first-child {
    font-weight: bold;
}

.co-operator {
    display: flex;
    gap: 0.4em;
    padding-top: var(--secondary-padding);
}

.co-operator p :hover {
    color: var(--highlight-color);
}

.co-operator i {
    color: inherit;
}

.color-block {
    background-color: var(--secondary-color);
    color: #f8f8f8;
    width: 100vw;
    margin: var(--secondary-padding) -24px var(--section-gap);
}

.quicklook {
    font-family: var(--secondary-font-family);
    padding: var(--primary-padding);
}

.quicklook-head {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 1em;
}

.quicklook-body {
    display: flex;
    flex-direction: column;
}

.quicklook-body li {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.3em;
}

.quicklook-body li :first-child {
    font-weight: bold;
    font-style: italic;
    padding-bottom: 0.5em;
}

.project-body {
    padding: var(--section-gap) 0;
}

.section-head {
    font-family: var(--primary-font-family);
    line-height: 1.2em;
}

.project-details {
    padding-top: var(--secondary-padding);
}

.project-details .external-link {
    text-decoration: underline;
}

.statement {
    font-family: var(--decorative-font-family);
    font-size: 200%;
    letter-spacing: -0.04em;
    padding: var(--secondary-padding) 0;
}

.highlight {
    color: var(--highlight-color);
}

.list-title {
    text-transform: uppercase;
}

.img-gp {
    text-align: center;
    padding: var(--section-gap) 0;
}

.img-intro {
    width: 100vw;
    margin-left: -24px;
    background-color: #ffffff;
    padding-top: var(--secondary-padding);
}

.img-intro p, .img-intro a {
    font-size: 20px;
    color: var(--highlight-color);
    font-family: var(--decorative-font-family);
    padding: 0;
    margin: 0 auto;
}

.img-intro a :hover {
    color: var(--secondary-color);
}

.img-intro i {
    color: inherit;
    padding: 0
}

.img-block {
    width: 100vw;
    margin-left: -24px;
    background-color: #ffffff;
    padding: 12px 0 var(--secondary-padding) 0;
}

.img-gallery-block {
    width: 100vw;
    margin-left: -24px;
    background-color: #ffffff;
    padding: 12px 0 var(--secondary-padding) 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.project-img {
    width: 80%;
    margin: 0 auto;
}

.external-link {
    font-size: inherit;
    font-family: inherit;
}

.external-link i {
    padding: 0;
}


/* showcase section styling ends */

@media screen and (min-width: 768px) {
    body {
        padding: 0 120px;
    }

    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3, a {
        font-size: 24px;
    }
    
    p, li {
        font-size: 21px;
        line-height: 1.5em;
    }

    ol {
        padding: var(--primary-padding);
    }

    #header {
        margin-left: -120px;
    }
    
    #topnav {
        padding: 10px 120px 0;
    }

    #topnav p {
        font-size: 15px;
    }

    .contact {
        padding: 0 120px;
    }

    footer {
        margin-left: -120px;
    }

    .footer-content {
        padding: 0 30px;
    }

    footer a {
        right: 30px;
    }

    .listed-pt {
        font-size: 18px;
    }

    .date {
        font-size: 18px;
    }

    .tag {
        font-size: 18px;
    }

    .project-brief {
        padding: var(--primary-padding) 0;
    }

    .overview {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 12px;
    }

    .color-block {
        margin: var(--secondary-padding) -120px var(--section-gap);
    }

    .quicklook {
        padding: 72px 120px;
    }

    .quicklook-head {
        font-size: 24px;
    }

    .img-intro {
        margin-left: -120px;
        padding-top: var(--secondary-padding);
    }

    .img-intro p, .img-intro a {
        font-size: 24px;
    }

    .img-block {
        margin-left: -120px;
        padding: 12px 0 var(--primary-padding) 0;
        text-align: center;
    }

    .img-gallery-block {
        margin-left: -120px;
        padding: 12px 0 var(--primary-padding) 0;
        justify-content: space-around;
    }

    .img-gallery-block .project-img {
        max-width: 15%;
    }

    .project-img {
        width: 65%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    body {
        padding: 0 280px;
    }

    #header {
        margin-left: -280px;
    }
    
    #topnav {
        padding: 10px 280px 0;
    }

    .contact {
        padding: 0 280px;
    }

    .contact a {
        font-size: 20px;    
    }

    footer {
        margin-left: -280px;
    }

    .footer-content {
        padding: 0 100px;
    }

    footer a {
        right: 100px;
    }

    hr {
        width: 30%;
    }

    .project-brief {
        padding: 72px 0;
    }

    .color-block {
        margin: var(--secondary-padding) -280px var(--section-gap);
    }

    .quicklook {
        padding: 72px 280px;
    }

    .img-intro {
        margin-left: -280px;
        padding-top: var(--primary-padding);
    }

    .img-block {
        margin-left: -280px;
    }

    .img-gallery-block {
        margin-left: -280px;
    }
}