:root {
    --primary-color: #123955;
    --secondary-color: #3B6989;
    --tertiary-color: #F5F5F5;
    --highlight-color: #DE6B16;
    --primary-font-family: Georgia, serif;
    --secondary-font-family: 'Arial Narrow', sans-serif;
    --tertiary-font-family: 'Arial Light', sans-serif;
    --decorative-font-family: "Caveat", cursive;
    --primary-padding: 48px;
    --secondary-padding: 24px;
}

body {
    position: relative;
    background-color: var(--tertiary-color);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
    color: var(--primary-color);
}

h1, h2, h3, a {
    font-family: var(--primary-font-family);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3, a {
    font-size: 16px;
}

p, li {
    font-family: var(--secondary-font-family);
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    padding-bottom: 0.4em;
}

ol {
    list-style: decimal;
    list-style-position: inside;
    padding: var(--secondary-padding) 0;
}

.listed-pt {
    font-family: var(--tertiary-font-family);
    color: var(--highlight-color);
}

.list-title {
    text-transform: uppercase;
}

nav {
    padding-top: 8px;
}

nav p {
    font-size: 10px;
}

nav * {
    padding: 0;
}

i {
    color: var(--primary-color);
}

img {
    object-fit: cover;
    max-width: 100%;
}

main {
    padding-top: var(--primary-padding);
    padding-bottom: 40px;
    margin: 0 auto;
}

.main-head {
    text-align: center;
}

.main-head h1 {
    padding-bottom: var(--secondary-padding);
}

hr {
    width: 50%;
    margin: 30px auto;
    border: none;
    height: 1px;
    background-color: var(--primary-color);
}

.work-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--primary-padding);
}

.date {
    min-width: 90px;
    font-size: 12px;
}

.highlight {
    color: var(--highlight-color);
}

.work-summary {
    padding: 14px 0 21px;
}

.work-foot {
    display: flex;
    justify-content: space-between;
}

.work-foot a {
    display: flex;
}

.tag {
    font-family: var(--decorative-font-family);
    font-size: 12px;
    color: var(--primary-color);
    background-color: #ffffff;
    padding: 4px 6px;
}

.more {
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: var(--primary-padding);
    padding-bottom: 10px;
    align-items: center;
}

footer p {
    font-size: 12px;
}

/* showcase section styling starts */
.showcase {
    display: none;
    padding-top: var(--primary-padding);
}

.section-head {
    font-family: var(--primary-font-family);
    line-height: 1.2em;
}

.overview {
    padding-top: var(--primary-padding);
    display: flex;
    flex-direction: column;
}

.overview li {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 1em;
}

.overview li :first-child {
    font-weight: bold;
}

.color-block {
    background-color: rgb(114, 155, 191, 0.5);
    width: 100vw;
    margin: 24px -24px;
}

.quicklook {
    font-family: var(--secondary-font-family);
    padding: var(--primary-padding) 72px;
}

.quicklook-head {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 1em;
}

.quicklook-body {
    display: flex;
    flex-direction: column;
}

.quicklook-body li {
    display: flex;
    flex-direction: column;
}

.quicklook-body li :first-child {
    font-weight: bold;
}

.project-body {
    padding-top: var(--primary-padding);
}

.project-details {
    padding-top: var(--secondary-padding);
}

.project-details a {
    font-family: var(--secondary-font-family);
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    text-decoration: underline;
}

.statement {
    font-family: var(--decorative-font-family);
    font-size: 180%;
    color: var(--highlight-color);
    letter-spacing: -0.04em;
}

.img-block {
    width: 100vw;
    margin-top: var(--primary-padding);
    margin-left: -24px;
    background-color: #ffffff;
}

.img-gallery-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin-top: var(--primary-padding);
    margin-left: -24px;
    padding: var(--primary-padding) 0;
    gap: 12px;
    background-color: #ffffff;
}


/* showcase section styling ends */

@media screen and (min-width: 768px) {
    body {
        padding: 0 120px;
    }

    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3, a {
        font-size: 24px;
    }
    
    p, li {
        font-size: 21px;
        line-height: 1.5em;
    }

    nav p {
        font-size: 15px;
    }

    .date {
        font-size: 18px;
    }

    .tag {
        font-size: 18px;
    }

    footer p {
        font-size: 18px;
    }

    .project-details a {
        font-size: 21px;
        line-height: 1.5em;
    }

    hr {
        width: 50%;
    }

    .overview {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 12px;
    }

    .color-block {
        margin: 36px -120px;
    }

    .quicklook {
        padding: 72px 120px;
    }

    .quicklook-head {
        font-size: 24px;
    }

    .project-body {
        padding: var(--secondary-padding) var(--primary-padding);
    }

    .img-block {
        margin-left: -168px;
        padding: var(--primary-padding) 0;
        text-align: center;
    }

    .img-gallery-block {
        margin-left: -168px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }

    .img-gallery-block .project-img {
        max-width: 20%;
    }

    .project-img {
        width: 65%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    body {
        padding: 0 280px;
    }

    .color-block {
        margin: 36px -280px;
    }

    .quicklook {
        padding: 72px 280px;
    }

    .project-body {
        padding: var(--secondary-padding) var(--primary-padding);
    }

    .img-block {
        margin-left: -328px;
        padding: var(--primary-padding) 0;
        text-align: center;
    }

    .img-gallery-block {
        margin-left: -328px;
        padding: var(--primary-padding) 0;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }

    .img-gallery-block .project-img {
        max-width: 20%;
    }

    .project-img {
        width: 65%;
        margin: 0 auto;
    }
}